<div class="clr-row">
    <div class="clr-col-6">
        <h3>Att göra</h3>
    </div>
    <div class="clr-col-6">
        <h3>
            <button type="button" class="pull-right btn btn-sm "
                [ngClass]="{'btn-success-outline': !showTodoForm, 'btn-warning-outline': showTodoForm}"
                (click)="handleForm()">
                {{ showTodoForm ? 'Ångra' : 'Lägg till' }}
            </button>
        </h3>
    </div>
</div>

<div id="todo-form-wrapper" *ngIf=" showTodoForm">
    <h5>{{ editMode ? 'Uppdatera ' : 'Skapa ny' }} att göra</h5>
    <form [formGroup]="todoForm" clrForm (ngSubmit)="onSubmit()">
        <div class="card-block">
            <div class="card-text">
                <div class="clr-row">
                    <div class="clr-col-12">
                        <clr-input-container>
                            <label for="tittle">Titel:</label>
                            <input clrInput maxlength="24" type="text" id="title" formControlName="title">
                        </clr-input-container>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-12">
                        <clr-textarea-container>
                            <label for="email">Beskrivning:</label>
                            <textarea clrTextarea [rows]="10" [cols]="45" required name="description"
                                formControlName="description"></textarea>
                        </clr-textarea-container>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-12 toggle-status">
                        <clr-toggle-container>
                            <clr-toggle-wrapper>
                                <input type="checkbox" clrToggle formControlName="done" [checked]="todoForm.value.done"
                                    value="true" name="done" />
                                <label>Ärende klart</label>
                            </clr-toggle-wrapper>
                        </clr-toggle-container>
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-6">
                        <button class="btn-success btn btn-block btn-sm btn-success-outline" type="submit"
                            [disabled]="todoForm.invalid">
                            {{ editMode ? 'Uppdatera' : 'Spara' }}</button>
                    </div>
                    <div class="clr-col-6">
                        <button type="button" class="btn btn-block btn-danger-outline btn-sm" (click)="deleteTodo()">Ta
                            bort</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="todosFetched">
    <div class="clr-row" *ngFor="let todo of todos" [ngClass]="{'status-done': todo.getIsDone()}">
        <div class="clr-col">
            <div class="card">
                <div class="card-info">
                    <div class="card-header">
                        <div class="header-main-text">
                            <a [routerLink]="['/todo/', todo.getUuid()]"
                                [ngClass]="{'strikethrough': todo.getIsDone()}">{{ todo.getTitle() }} </a>
                            <div class="card-title pull-right">
                                Skapades: {{ todo.getCreated() | date: 'HH:mm ddMMM' }}
                            </div>
                        </div>
                        <div class="pull-right header-meta-text"></div>
                    </div>
                    <div class="card-block">
                        <div class="clr-row">
                            <div class="clr-col-6">

                            </div>
                        </div>
                        <div class="card-text">
                            <div class="card-text">
                                <p>{{ todo.getDescription() }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="clr-row">
                            <div class="clr-col">
                                <span class="done pull-right" *ngIf="todo.getIsDone()"> Klart</span>
                                <span class="done pull-right" *ngIf="!todo.getIsDone()"> Ej Klart</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-row" *ngIf="todos.length === 0">
        <p>Inga att göra poster finns för närvarande</p>
    </div>
</div>

<app-modal [modalData]="removeTodoModalData" (parentEvent)="deleteTodoConfirmed()"></app-modal>