#todo-form-wrapper{
    margin-bottom: 100px;
    .toggle-status{ 
        margin-bottom: 15px;
    }
}

.clr-row.status-done{
    .card-text p, 
    a, 
    .card-title{
    
        color: #999;
    }
}


form, form .card-block{
    padding: 0;
}

.card-header {
    a{
        font-size: 0.88em;
    }
    >div {
        display: inline;
    }
}

.card-title {
    font-size: 0.48em;
}


.card-footer {
    color: #a5a5a5;
    font-size: 0.75em;
}


