@import '../../../../assets/styles/variables';

.clr-container {
    &.inactive {
        opacity: 0.3;
    }

    .clr-row.tally-meta {
        margin-bottom: 20px;

        >div {
            background: #273841;
            padding: 15px;
            border-right: none;

            &:last-child {
                border-radius: 3px;
                border: 1px solid $borderColor;
            }
        }

        h5 {
            margin-top: 0;
        }

        &.tally-progress {
            .progress-meter {
                height: 4px;
            }
        }
    }
}

hr {
    margin-top: 0;

    &.active {
        border-bottom: 1px solid $successColor;
    }
}

.tally-action {
    margin-top: 1.5em;

    .status {
        display: block;
        text-align: right;
        text-transform: uppercase;
        margin-top: 0.5em;

        button.btn-deactivate {
            background: #999;
            border-color: #777;
            color: #fff;
        }

        a.btn-edit {
            background: orange;
            border-color: darkorange;
            color: #fff;
        }
    }

}

h3.modal-title::first-letter {
    text-transform: capitalize;
}