@import '../../../../assets/styles/variables';

.clr-container {
    &.inactive {
        opacity: 0.3;
    }
    .clr-row.tally-meta {
        margin-bottom: 20px;
        >div {
            background: #fff;
            padding: 20px;
            border: 1px solid #e6e6e6;
            border-right: none;

            

            &:last-child {
                border-radius: 3px;
                border: 1px solid #e6e6e6;
            }
        }

        h4 {
            margin-top: 0;
        }

        &.tally-progress {
            background: #fff;
            padding: 0.5rem 0;
            border: 1px solid #e6e6e6;

            .progress-meter {
                height: 4px;
            }
        }
    }
}

hr {
    margin-top: 0;
    &.active {
        border-bottom: 1px solid $successColor;
    }
}

.status {
    display: block;
    text-align: right;
    text-transform: uppercase;
}

h3.modal-title::first-letter {
    text-transform: capitalize;
}
