<div class="clr-row clear-spinner" *ngIf="!issueFetched">
    <div class="clr-col-12">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <h1>Github ärenden</h1>
    </div>
</div>
<div class="clr-row" *ngFor="let issue of issues">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-info">
                <div class="card-header">
                    <div class="header-main-text">
                        <div class="clr-row ">
                            <div class="clr-col-12">
                                <h3>
                                    <span class="avatar" *ngIf="issue.assignee">
                                        <img src="{{issue.assignee.avatar_url}}" />
                                    </span>
                                    <span class="avatar" *ngIf="!issue.assignee">
                                        <img src="assets/images/anonymous-icon.png" />
                                    </span>
                                    <span class="title">{{ issue.title }}</span>
                                </h3>

                                <small class="stats">{{ issue.updated_at | timeago }}</small>

                            </div>
                        </div>
                    </div>
                    <div class="pull-right header-meta-text">
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-text">


                        <!-- Beskrivning -->
                        <p><span class="header-meta-text">Beskrivning:</span><br />
                            {{ issue.body }}</p>
                        <!-- //Beskrivning -->
                        <p>&nbsp;</p>
                        <p *ngIf="issue.labels.length > 0" class="labels">
                            <span class="label" [ngStyle]="{'border-color': '#'+label.color, 'color': '#'+label.color}" *ngFor="let label of issue.labels">
                                <a [href]="'https://github.com/Jojjeboy/pushIt/labels/' + label.name" target="_blank">{{label.name}}</a> 
                            </span>
                        </p>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="clr-row">
                        <div class="clr-col">
                            <a [href]="issue.html_url" target="_blank"
                                class="btn btn-sm btn-primary-outline btn-block">Besök issue på github</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clr-row" *ngIf="issues.length === 0 && issueFetched">
    <div class="clr-col-12">
        <h1>PushIt</h1>
        <small>Det verkar inte som du har några issues ;)</small><br /><br />
        <hr />
    </div>
</div>

<br /><br />
<div class="clr-row">
    <div class="clr-col-12">
        <a href="https://github.com/Jojjeboy/pushIt/issues/new" class="btn btn-small btn-block btn-success ">Skapa nytt ärende</a>
    </div>
</div>