<div class="main-container">
  <!-- Alert -->
  <alert [text]="alertText" [type]="alertType" [showalert]="showAlert"></alert>
  <!-- Header -->
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <span class="title">PushIt</span>
      </a>
      <div class="version-in-header">

        <clr-tooltip>
          <span class="label label tooltip tooltip-bottom-left" clrTooltipTrigger> Version <span class="badge badge">v{{
              appVersion.version }} - {{
              appVersion.date | date: 'dMMM HH:mm' }}<span class="clr-sr-only">items</span></span></span>
          <clr-tooltip-content [clrPosition]="'bottom-left'" [clrSize]="'md'">
            {{ appVersion.message }}
          </clr-tooltip-content>
        </clr-tooltip>
      </div>
    </div>


    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <span class="material-symbols-outlined">
            menu
          </span>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/" clrDropdownItem>Start</a>
          <a routerLink="/add" clrDropdownItem>Lägg till ny räknare</a>
          <a routerLink="/example" clrDropdownItem>Lägg till exempel</a>
          <a routerLink="/todo" clrDropdownItem>Att göra</a>
          <a routerLink="/issues" clrDropdownItem>Github ärenden</a>
          <a (click)="clearCache()" clrDropdownItem>Rensa Local Storage</a>
          <a routerLink="/gitlog" clrDropdownItem>Git log historia</a>

        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <!-- Main content -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-modal [modalData]="clearCacheModal" (parentEvent)="clearCacheConfirmed()"></app-modal>