<div class="main-container">
  <!-- Alert -->
  <alert [text]="alertText" [type]="alertType" [showalert]="showAlert"></alert>
  <!-- Header -->
  <header class="header-6">
    <div class="branding">
      <a (click)="toStartPage()" class="nav-link">
        <span class="title">PushIt<small class="appversion">
          v{{ appVersion.version }} | {{ appVersion.date | date: 'd, MMMM HH:mm' }}</small></span>
      </a> 
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="view-list"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/add" clrDropdownItem>Lägg till ny räknare</a>
          <a routerLink="/example" clrDropdownItem>Lägg till exempel</a>
          <a (click)="clearCache()" clrDropdownItem>Rensa Local Storage</a>

        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header> 

  
  <!-- Main content -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-modal [modalData]="clearCacheModal" (parentEvent)="clearCacheConfirmed()"></app-modal>
